@charset "UTF-8";


@font-face {
  font-family: "hostino";
  src:url("../fonts/hostino.eot");
  src:url("../fonts/hostino.eot?#iefix") format("embedded-opentype"),
    url("../fonts/hostino.woff") format("woff"),
    url("../fonts/hostino.ttf") format("truetype"),
    url("../fonts/hostino.svg#hostino") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "hostino" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="hno-"]:before,
[class*=" hno-"]:before {
  font-family: "hostino" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hno{
    display: inline-block;
    font-family: "hostino" !important;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size-adjust: none;
    font-stretch: normal;
    font-feature-settings: normal;
    font-language-override: normal;
    font-kerning: auto;
    font-synthesis: weight style;
    font-variant: normal;
    font-size: inherit;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
}

.hno-right-arrow:before {
  content: "\61";
}
.hno-tick:before {
  content: "\62";
}
.hno-arrow-right:before {
  content: "\63";
}
.hno-locked-padlock:before {
  content: "\64";
}
.hno-chat:before {
  content: "\65";
}
.hno-domain-registration:before {
  content: "\66";
}
.hno-location:before {
  content: "\67";
}
.hno-phone:before {
  content: "\68";
}
.hno-refresh:before {
  content: "\69";
}

.pricingTable {
  	margin-top: 20px
}

.pricingTable > .pricingTable-title {
	text-align: center;
	color: #6e768d;
	font-size: 3em;
	font-size: 300%;
	margin-bottom: 20px;
	letter-spacing: 0.04em;
}

.pricingTable > .pricingTable-subtitle {
	text-align: center;
	color: #b4bdc6;
	font-size: 1.8em;
	letter-spacing: 0.04em;
	margin-bottom: 60px;
}

@media screen and (max-width: 480px) {
	.pricingTable > .pricingTable-subtitle {
		margin-bottom: 30px;
	}
}

.pricingTable-firstTable {
	list-style: none;
	/*padding-left: 2em;
	padding-right: 2em;*/
	text-align: center;
}

.pricingTable-firstTable_table {
	vertical-align: middle;
	/*width: 30%;*/
	background-color: #ffffff;
	/*display: inline-block; */
	padding: 0px 30px 40px;
	text-align: center;
	max-width: 320px;
	transition: all 0.3s ease;
	border-radius: 5px;
}

@media screen and (max-width: 767px) {
	.pricingTable-firstTable_table {
		display: block;
		width: 90%;
		margin: 0 auto;
		max-width: 90%;
		margin-bottom: 20px;
		padding: 10px;
		padding-left: 20px;
	}
}

@media screen and (max-width: 767px) {
	.pricingTable-firstTable_table > * {
		display: inline-block;
		vertical-align: middle;
	}
}

@media screen and (max-width: 480px) {
	.pricingTable-firstTable_table > * {
		display: block;
		float: none;
	}
}

@media screen and (max-width: 767px) {
	.pricingTable-firstTable_table:after {
		display: table;
		content: '';
		clear: both;
	}
}

.pricingTable-firstTable_table:hover {
	transform: scale(1.08);
}

@media screen and (max-width: 767px) {
	.pricingTable-firstTable_table:hover {
		transform: none;
	}
}

.pricingTable-firstTable_table:not(:last-of-type) {
	margin-right: 3.5%;
}

@media screen and (max-width: 767px) {
	.pricingTable-firstTable_table:not(:last-of-type) {
		margin-right: auto;
	}
}


.pricingTable-firstTable_table_prefer {
	position: relative;
}

@media screen and (max-width: 767px) {
	.pricingTable-firstTable_table_prefer h1 {
		padding-top: 8%;
	}
}

.pricingTable-firstTable_table_prefer:before {
	content: '推   荐';
	position: absolute;
	color: white;
	display: block;
	background-color: #3bbdee;
	text-align: center;
	right: 15px;
	top: -30px;
	height: 65px;
	width: 65px;
	border-radius: 50%;
	box-sizing: border-box;
	font-size: 1.5em;
	padding-top: 10px;
	text-transform: uppercase;
	letter-spacing: 0.23em;
	transition: all 0.5s ease;
}

@media screen and (max-width: 988px) {
	.pricingTable-firstTable_table_prefer:before {
		font-size: 0.6em;
	}
}

@media screen and (max-width: 767px) {
	.pricingTable-firstTable_table_prefer:before {
		left: 10px;
		width: 45px;
		height: 45px;
		top: -10px;
		padding-top: 13px;
	}
}

@media screen and (max-width: 480px) {
	.pricingTable-firstTable_table_prefer:before {
		font-size: 0.8em;
	}
}

.pricingTable-firstTable_table_prefer:hover:before {
	transform: rotate(360deg);
}


.pricingTable-firstTable_table__header {
	font-size: 1.6em;
	padding: 20px 0px;
	border-bottom: 2px solid #ebedec;
	letter-spacing: 0.03em;
}

@media screen and (max-width: 1068px) {
	.pricingTable-firstTable_table__header {
		font-size: 1.45em;
	}
}

@media screen and (max-width: 767px) {
	.pricingTable-firstTable_table__header {
		padding: 0px;
		border-bottom: none;
		float: left;
		width: 33%;
		padding-top: 3%;
		padding-bottom: 2%;
	}
}

@media screen and (max-width: 610px) {
	.pricingTable-firstTable_table__header {
		font-size: 1.3em;
	}
}

@media screen and (max-width: 480px) {
	.pricingTable-firstTable_table__header {
		float: none;
		width: 100%;
		font-size: 1.8em;
		margin-bottom: 5px;
	}
}

.pricingTable-firstTable_table__pricing {
	font-size: 3em;
	padding: 30px 0px;
	border-bottom: 2px solid #ebedec;
	line-height: 0.7;
}


@media screen and (max-width: 1068px) {
	.pricingTable-firstTable_table__pricing {
		font-size: 2.8em;
	}
}

@media screen and (max-width: 767px) {
	.pricingTable-firstTable_table__pricing {
		border-bottom: none;
		padding: 0;
		float: left;
		clear: left;
		width: 33%;
	}
}

@media screen and (max-width: 610px) {
	.pricingTable-firstTable_table__pricing {
		font-size: 2.4em;
	}
}

@media screen and (max-width: 480px) {
	.pricingTable-firstTable_table__pricing {
		float: none;
		width: 100%;
		font-size: 3em;
		margin-bottom: 10px;
	}
}

.pricingTable-firstTable_table__pricing span:first-of-type {
	font-size: 0.35em;
	vertical-align: top;
	letter-spacing: 0.15em;
}


@media screen and (max-width: 1068px) {
	.pricingTable-firstTable_table__pricing span:first-of-type {
		font-size: 0.3em;
	}
}

.pricingTable-firstTable_table__pricing span:last-of-type {
	vertical-align: bottom;
	font-size: 0.30em;
	letter-spacing: 0.04em;
	padding-left: 0.2em;
}

@media screen and (max-width: 1068px) {
	.pricingTable-firstTable_table__pricing span:last-of-type {
		font-size: 0.25em;
	}
}

.pricingTable-firstTable_table__options {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
}


.pricingTable-firstTable_table__options li{
    color: #899cbf;
    font-size: 14px;
    font-weight: 600;
    margin-top: 3px;
    margin-bottom: 5px;
}

@media screen and (max-width: 1068px) {
	.pricingTable-firstTable_table__options {
		font-size: 0.85em;
	}
}

@media screen and (max-width: 767px) {
	.pricingTable-firstTable_table__options {
		border-bottom: none;
		padding: 0;
		margin-right: 10%;
	}
}

@media screen and (max-width: 610px) {
	.pricingTable-firstTable_table__options {
		font-size: 0.7em;
		margin-right: 8%;
	}
}

@media screen and (max-width: 480px) {
	.pricingTable-firstTable_table__options {
		font-size: 1.3em;
		margin-right: none;
		margin-bottom: 10px;
	}
}

.pricingTable-firstTable_table__options > li {
	padding: 3px 1px 0;
}

@media screen and (max-width: 767px) {
	.pricingTable-firstTable_table__options > li {
		text-align: left;
	}
}

@media screen and (max-width: 610px) {
	.pricingTable-firstTable_table__options > li {
		padding: 5px 0;
	}
}

@media screen and (max-width: 480px) {
	.pricingTable-firstTable_table__options > li {
		text-align: center;
	}
}

.pricingTable-firstTable_table__options > li:before {
  /*
  	content: '√';
	display: inline-block;
	margin-right: 15px;
	color: white;
	background-color: #74ce6a;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	font-size: 0.8em;
	padding: 2px;
	text-align: center;
  */
    content: "\62";
    font-family: "hostino";
    color: #61e03e;
    font-size: 12px;
    margin-right: 5px;
    vertical-align: middle;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  
  
}

@media screen and (max-width: 1068px) {
	.pricingTable-firstTable_table__options > li:before {
		width: 14px;
		height: 14px;
		padding: 1.5px;
	}
}

@media screen and (max-width: 767px) {
	.pricingTable-firstTable_table__options > li:before {
		width: 12px;
		height: 12px;
	}
}

.pricingTable-firstTable_table__getstart {
	color: white;
	background-color: #71ce73;
	margin-top: 30px;
	border-radius: 5px;
	cursor: pointer;
	padding: 15px;
	box-shadow: 0px 3px 0px 0px #66ac64;
	letter-spacing: 0.07em;
	transition: all 0.4s ease;
}

.pricingTable-firstTable_table__getstart>a {
	color: inherit;
  	font-size: 1rem;
}


@media screen and (max-width: 1068px) {
	.pricingTable-firstTable_table__getstart {
		font-size: 0.95em;
	}
}

@media screen and (max-width: 767px) {
	.pricingTable-firstTable_table__getstart {
		margin-top: 0;
	}
}

@media screen and (max-width: 610px) {
	.pricingTable-firstTable_table__getstart {
		font-size: 0.9em;
		padding: 10px;
	}
}

@media screen and (max-width: 480px) {
	.pricingTable-firstTable_table__getstart {
		font-size: 1em;
		width: 50%;
		margin: 10px auto;
	}
}

.pricingTable-firstTable_table__getstart:hover {
	transform: translateY(-10px);
	box-shadow: 0px 40px 29px -19px rgba(102, 172, 100, 0.9);
}

@media screen and (max-width: 767px) {
	.pricingTable-firstTable_table__getstart:hover {
		transform: none;
		box-shadow: none;
	}
}

.pricingTable-firstTable_table__getstart:active {
	box-shadow: inset 0 0 10px 1px #66a564, 0px 40px 29px -19px rgba(102, 172, 100, 0.95);
	transform: scale(0.95) translateY(-9px);
}

@media screen and (max-width: 767px) {
	.pricingTable-firstTable_table__getstart:active {
		transform: scale(0.95) translateY(0);
		box-shadow: none;
	}
}




@media screen and (max-width: 960px) {
	body {
		font-size: 90%;
	}
}

@media screen and (max-width: 776px) {
	body {
		font-size: 80%;
	}
}

@media screen and (max-width: 496px) {
	body {
		font-size: 80%;
	}
}

@media screen and (max-width: 320px) {
	body {
		font-size: 80%;
	}
}
